{% extends "base.html" %}
<!-- pages/templates/pages/home.html -->

{% load static %} {% block page_content %}
<!-- Contact icons -->
{% include "icons.html" %}

<!-- Navigation bar -->
{% include "header.html" %}
<main class="mx-auto max-w-4xl">
  <!-- Introduction -->
  {% include "introduction.html" %}

  <hr class="mx-auto w-1/2 bg-black dark:bg-white" />

  <!-- About me -->
  {% include "about.html" %}

  <hr class="mx-auto w-1/2 bg-black dark:bg-white" />

  <!-- Projects -->
  {% include "projects.html" %}

  <hr class="mx-auto w-1/2 bg-black dark:bg-white" />

  <!-- Testimonials -->
  {% include "testimonials.html" %}

  <hr class="mx-auto w-1/2 bg-black dark:bg-white" />

  <!-- Contact -->
  {% include "contact-me.html" %}
</main>

{% include "footer.html" %} {% endblock page_content %}
