{% load static %}

<section
  id="aboutme"
  class="widescreen:section-min-height tallscreen:section-min-height my-12 scroll-mt-20 p-6"
>
  <h2
    class="mb-6 text-center text-4xl font-bold text-slate-900 dark:text-white sm:text-5xl"
  >
    About me
  </h2>
  <section
    class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row"
  >
    <article class="sm:w-1/2">
      <p
        class="mt-4 max-w-md text-center text-xl text-slate-700 dark:text-slate-400 sm:text-left"
      >
        I am an entry level software engineer with expertise in Web application
        development. Through continous learning and practice, I have managed to
        reach a strong intermediate level in the following array of
        technologies:
      </p>
      <ul class="text-sm text-center sm:text-left mt-4 text-slate-700">
        <li>Django</li>
        <li>Docker</li>
        <li>JavaScript</li>
        <li>TailwindCSS</li>
        <li>Git & GitHub</li>
        <li>HTML5 & CSS3</li>
        <li>Django Rest framework</li>
      </ul>

      <p
        class="mt-4 max-w-md text-center text-xl text-slate-700 dark:text-slate-400 sm:text-left mt-4"
      >
        I also posses interpersonal skills which are crucial for every software
        development role like:
      </p>
      <ul class="text-sm mt-4 text-slate-700 text-center sm:text-left">
        <li>A keen eye to details.</li>
        <li>Good communication skills.</li>
        <li>Excellent problem solving sills.</li>
        <li>Excellent troubleshooting and debugging skills.</li>
      </ul>
    </article>
    <div class="flex flex-col items-center">
      <img
        class="w-1/2"
        src="{% static 'img/coder.png' %} "
        alt="An Image here"
      />
      <button
        class="w-48 rounded-xl border border-solid border-slate-900 bg-teal-700 p-3 text-white hover:bg-teal-600 active:bg-teal-500 dark:border-none"
      >
        <a href="{% url 'resume' %}" target="_blank">Check resume</a>
      </button>
    </div>
  </section>
</section>
