{% load static %}
<section class="bg-white flex justify-center h-8 items-center gap-8">
  <div class="flex justify-between">
    <span class=""
      ><a target="_blank" href="https://github.com/njeruthuo"
        ><img
          style="height: 22px; margin-right: 10px"
          src="{% static 'img/github.png' %}"
          alt="" /></a
    ></span>
    <span
      ><a
        target="_blank"
        href="https://www.linkedin.com/in/julius-njeru-37158924b/"
        ><img
          style="height: 22px; margin-right: 10px"
          src="{% static 'img/linkedin.png' %}"
          alt="" /></a
    ></span>
    <span
      ><a target="_blank" href="mailto:juliusn411@gmail.com"
        ><img
          style="height: 22px; margin-right: 10px"
          src="{% static 'img/email.png' %}"
          alt="" /></a
    ></span>
  </div>
</section>
