{% load static %}

<section
    id="intro"
    class="widescreen:section-min-height tallscreen:section-min-height mb-12 flex scroll-mt-40 flex-col-reverse items-center justify-center gap-8 p-6 sm:flex-row"
  >
    <article class="sm:w-1/2">
      <h2
        class="max-w-md text-center text-4xl font-bold text-slate-900 dark:text-white sm:text-left sm:text-5xl"
      >
        I'm Julius Njeru,
        <span class="text-indigo-700 dark:text-indigo-300"
          >a software developer</span
        >.
      </h2>
      <p
        class="mt-4 max-w-md text-center text-2xl text-slate-700 dark:text-slate-400 sm:text-left"
      >
        I am a passionate and talented young graduate who enjoys the art of
        creating python applications using Django.
      </p>
    </article>
    <img class="w-1/2 flex justify-center align-center rounded" src="{% static 'img/ready.jpg' %} " alt="Rocket Dab" />
  </section>