<section
  id="testimonials"
  class="widescreen:section-min-height tallscreen:section-min-height my-12 scroll-mt-20 p-6"
>
  <h2
    class="mb-6 text-center text-4xl font-bold text-slate-900 dark:text-white sm:text-5xl"
  >
    Testimonials
  </h2>
  <figure class="my-12">
    <blockquote
      class="relative rounded-3xl bg-teal-600 py-12 pl-14 pr-8 dark:bg-black"
    >
      <p
        class="mt-2 text-left text-2xl text-white before:absolute before:top-0 before:left-0 before:translate-x-2 before:translate-y-2 before:transform before:font-serif before:text-9xl before:text-white before:opacity-25 before:content-['\201C'] after:absolute after:-bottom-20 after:right-0 after:-translate-x-2 after:-translate-y-2 after:transform after:font-serif after:text-9xl after:text-white after:opacity-25 after:content-['\201D'] dark:text-slate-400 sm:text-3xl"
      >
        Delivers exceptional work within the required timeframe.
      </p>
    </blockquote>
    <figcaption
      class="mt-2 text-right text-xl italic text-slate-500 dark:text-slate-400 sm:text-2xl"
    >
      &#8212;Jeff, Lamwa VetCare.
    </figcaption>
  </figure>
  <figure class="my-12">
    <blockquote
      class="relative rounded-3xl bg-teal-600 py-12 pl-14 pr-8 dark:bg-black"
    >
      <p
        class="mt-2 text-left text-2xl text-white before:absolute before:top-0 before:left-0 before:translate-x-2 before:translate-y-2 before:transform before:font-serif before:text-9xl before:text-white before:opacity-25 before:content-['\201C'] after:absolute after:-bottom-20 after:right-0 after:-translate-x-2 after:-translate-y-2 after:transform after:font-serif after:text-9xl after:text-white after:opacity-25 after:content-['\201D'] dark:text-slate-400 sm:text-3xl"
      >
        Easy to work with. He doesn't need reminders or much supervision.
      </p>
    </blockquote>
    <figcaption
      class="mt-2 text-right text-xl italic text-slate-500 dark:text-slate-400 sm:text-2xl"
    >
      &#8212;Derrick Shiberenje, ShoeSoko.
    </figcaption>
  </figure>
  <figure class="my-12">
    <blockquote
      class="relative rounded-3xl bg-teal-600 py-12 pl-14 pr-8 dark:bg-black"
    >
      <p
        class="mt-2 text-left text-2xl text-white before:absolute before:top-0 before:left-0 before:translate-x-2 before:translate-y-2 before:transform before:font-serif before:text-9xl before:text-white before:opacity-25 before:content-['\201C'] after:absolute after:-bottom-20 after:right-0 after:-translate-x-2 after:-translate-y-2 after:transform after:font-serif after:text-9xl after:text-white after:opacity-25 after:content-['\201D'] dark:text-slate-400 sm:text-3xl"
      >
        A very fast learner. He picked React under my mentorship and he was
        already making simple applications within a week's time!
      </p>
    </blockquote>
    <figcaption
      class="mt-2 text-right text-xl italic text-slate-500 dark:text-slate-400 sm:text-2xl"
    >
      &#8212; Felex Onyango, Sibasi Ltd.
    </figcaption>
  </figure>
</section>
